html{
    color:  #1f2124;
}

.title{
    width: 90%;
}

.greeting_text1{
    padding: 10px;
    font-size: 1.5rem;
    font-family:'roboto', sans-serif;
    font-weight: bold;
}

.imgPreserntacion{
    margin: 10px;
    width: 160px;
    border-radius: 60%;
}
.mainContainer{
    min-height: 100vh;
}
@media(min-width: 992px){
    .greeting_text1{
        margin-top: 5px;
        padding: 5px 5px 5px 50px;
        font-size: 2rem;
    }
  
}

/* @media(min-width: 768px){
    .greeting_text1{
        margin-top: 5px;
        padding: 5px;
        font-size: 1.5rem;
    }
  
} */

@media(max-width: 767px){
    .greeting_text1{
        margin-top: 5px;
        padding: 5px;
        font-size: 1.2rem;

    }
    .imgPreserntacion{
        width: 200px;
    }

}

@media(max-width: 576px){
    .greeting_text1{
        margin-top: 5px;
        padding: 5px;
        font-size: 1.2rem;

    }
    .imgPreserntacion{
        width: 150px;
    }

}