.cartListHeader{
    font-size: 12px;
    font-weight: bold;
    
}
.cartRowHeader{
    background-color: rgb(151, 147, 147);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
}
.totalPrice{
    background-color: rgb(151, 147, 147);
    border-radius: 5px;
    
}
.cartRowItem{
    font-size: 0.8rem;
}
/* .cartDeleteIcon{
    background-color: rgb(151, 147, 147);
} */
.cartDeleteIcon:hover{
    cursor: pointer;
}
.mainItemsContainer{
    min-height: 45vh;
}
.btnClearCart, .btnConfirm{
    background-color: rgb(151, 147, 147);
    color: white;
    font-size: 0.9rem;
}
.btnClearCart:hover, .btnConfirm:hover{
    background-color: rgb(95, 93, 93);
}
.userContainer{
    font-size: 0.9rem;
    font-weight: 500;
    margin:25px
}