html{
    color:  #1f2124;
}
.greeting_text1{
    padding: 10px;
    font-size: 1.5rem;
    font-family:'roboto', sans-serif;
    font-weight: bold;
}

.imgPreserntacion{
    width: 160px;
}


@media(max-width: 576px){
    .greeting_text1{
        margin-top: 5px;
        padding: 5px;
        font-size: 1.1rem;

    }
    .greeting_text2{
        margin-top: 5px;
        padding: 5px;
        font-size: 0.9rem;
    }
    .imgPreserntacion{
        width: 250px;
    }

}