.mainAuthContainer{
    min-height: 70vh !important;
    max-width: 50%;
}
.link{
    text-decoration: none;
}
.recover:hover{
    color: rgb(19, 18, 18);
    font-weight: 500;
}

@media(max-width: 768px){
    .mainAuthContainer{
        min-height: 60vh;
       max-width: 95%;
    }
}